/**** 
	ABOUT
***/

.description {
	font-size: 1.5em;
}

.special {
	span {
		display: block;
	    font-size: 1.6em;
	    font-weight: bold
	}
	 .description {
	 	font-weight: bold;
	}
}
.mariana {
	header {
		width: 20%;
		float: left;
		margin: 0 3% 1% 0;
	}
}

.about {
	margin-top: 1% !important;
  h1 {
  	  text-align: center;
  }
}

.skills {
	margin: 0 auto;
	width: 95%;
	div {
		  margin-bottom: 1%;
		  font-size: 1.1em;
		  font-weight: bold;
		  color: #5bccd6;
		/*  background-color: #280e39; */
  			
  		margin: 0 auto;
	}
	li {
		  color: #5bccd6;
		  display: block;
		  float: left;
		  width: auto;
		  padding: 13px;
		  background-color: #280e39;
		  margin: 5% 10px 0px 10px;
	}
}

	.about, .portfolio {
	  text-align: center;
	  padding-bottom: 90px;
	  width: 95%;
	  margin: 0 auto 0;
	}

  #myCarousel {
  	padding-top: 8%;
  }

.carousel-control {
	top: 50%;
}
.carousel-inner {
    height: auto;
}
.carousel-control.left, .carousel-control.right {
	background: none;
	border: none;
}
.carousel-control.left {margin-left: -45px; color: black;}
.carousel-control.right {margin-right: -45px; color: black;}

#myCarousel {
  margin-top: 8%;
  padding-left: 7%;
  padding-top: 0;
}
.developer, p.special, #home {
	line-height: 2.2;
	li {
		line-height: 2.8;
	}
}
/*** 
 contact
 ***/

 .contact {
	  margin: 0 auto;
	  text-align: center;
	  display: inline-block;
 	  width: 100%;
	 a {
	 	font-size: 1em;
	 }

	h2.available {
	    margin-top: 6%;
	    color: #f6dc87;
	    line-height: 40px;
	    color: #f6dc87;
	    text-transform: none !important;
	}
  h2 {
  	  font-size: 1.9em;
	  text-align: center;
	  padding: 10px;
	  text-transform: capitalize; 
	  }
	.details {
		text-align: center;
	    width: 30%;
	    /* background-color: #290e39; */
	    padding: 20px;
	    margin: 4% auto;
	    border-radius: 1px 0 -1px 15px;
	    //box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.4);
	    padding: 0 0 1px;
	}
 }
 .details {
	a {
		color: #5bccd6;
	}
	p {
		font-size: 0.6em;
  		width: 65%;
    	margin: 20px auto;
	}

}