/**** 
	PORTFOLIO
***/

.portfolio-about {
	margin-top: 5% !important;
	
	text-align: left;
	h1 {
		color: #5bcdd8;
	}
	h3 {
		display: inline-block;
		font-size: 1em;
		margin-bottom: 4%;
	}
	a.btn {
		background-color: #7d519e;
		&:hover {
			color: #f6dc87;
		}
		&.btn.focus {
			color: #fff;
		}
	}
	.chunky a:active, .btn.active {
		padding: 5px 15px 4px 15px;
    	margin-top: 20px !important;
	}
	
}

.portfolio {
	.thumbImage .thumbText p {
		font-size: 0.9em;
	}
    #Container {
		margin-top: 2% !important;

		.mix {
			margin: 0 auto 0 1%;
		}
		.thumbImage {
			margin-bottom: 4%;
		}
	}
} 

