.sample-flipbook6 #book-wrapper{
	width: 1438px;
}

.flipbook6{
	width: 1438px;
	height: 1016px;
	z-index:0;
}

.flipbook6 .page{
	width: 719px !important;
	height: 1016px !important;
	background:white;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}


.flipbook6 .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.flipbook6 .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
	background-image:-webkit-linear-gradient(right,rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.flipbook6 .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sample-flipbook6 .zoom-in .even .gradient,
.sample-flipbook6 .zoom-in .odd .gradient{
	display:none;
}

.sample-flipbook6 .zoom-in .next-button,
.sample-flipbook6 .zoom-in .previous-button{
	display:none;
}

.show-bar .flipbook6 .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook6 .next-button,
.flipbook6 .previous-button{
	width:22px;
	height: 34px;
	position:absolute;
	top: 961px;
	z-index: 9999;
}
.btn-right {
	right: -24px !important;
}
.flipbook6 .next-button{
	right: 696px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
}

.flipbook6 .previous-button{
	left: 694px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;

}

.flipbook6 .previous-button-hover,
.flipbook6 .next-button-hover{
	background-color:rgba(0,0,0, 0.2);
}

.flipbook6 .previous-button-hover,
.flipbook6 .previous-button-down{
	background-image:url(../pics/arrows.png);
	background-position:-4px 26%;
	background-repeat:no-repeat;
}

.flipbook6 .previous-button-down,
.flipbook6 .next-button-down{
	background-color:rgba(0,0,0, 0.4);
}

.flipbook6 .next-button-hover,
.flipbook6 .next-button-down{
	background-image:url(../pics/arrows.png);
	background-position:-38px 26%;
	background-repeat:no-repeat;
}