
  * {
    margin: 0;
    padding: 0;
  }
  
  html
  {
    -webkit-tap-highlight-color:transparent;
  }
  
  body {
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  /* Body */
  .container {
    margin: 0;
    padding: 0;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    background: transparent url(../img/Virgin_bgLandscape.jpg) no-repeat 0 0;
    width: 1024px; 
    height: 748px;
  }
  
  .trick {
    margin: 0;
    padding: 0;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    background: transparent url(../img/Virgin_bgLandscape.jpg) no-repeat 0 0;
    width: 1px; 
    height: 1px;  
  }

   .move {
      background: transparent url(../img/trailLandscape.png) no-repeat top right;
      width: 54px; 
      height: 62px;   
      top: 466px;
      left: 434.4px;
      z-index: 5;
      margin: 0;
      z-index: 8;
      position: absolute;
  }
/*
  .spot {
    background: transparent url(../img/plane.png) no-repeat 0 0;
    width: 65px; 
    height: 60px; 
    position: absolute; 
    top: 465px;
    left: 427px;
    z-index: 5;
    margin: 0;
  }
*/
  
  #spot {
    display: none;
  }

 .landscape {
    padding: 68px 0 0 25px;
    position: absolute;
  }

  .text {
    background: transparent url(../img/text1.png) no-repeat 0 0;
    width: 737px;
    height: 235px; 
    margin: 128px 0 0 127px;
  }
  
  .text2 {
    margin: 400px 0 0 133px;
    background: transparent url(../img/text2.png) no-repeat 0 0;
    width: 258px;
    height: 63px; 
  }
  
  .pulse {
    background: transparent url(../img/pulse.png) no-repeat 0 0;
    width: 192px;
    height: 188px; 
    position: absolute;
    top: 438px;
    left: 403px;
    width: 410px;
    z-index: 1;
  }
 
 .hide {
    opacity: 0;
  }
  
.hidden {  
  
 }
 
 #fixed{
  -webkit-transition-duration: 1s;
  opacity: 0;
}

.show {
    opacity: 1 !important;
}
 .hides {  
   display: none;
 }