<div ng-repeat="work in workDetails">
  <div class="block isotope-item grid-item {{ workDetails[$index].class }}"> 
      <section class="thumbImage" ng-repeat="work in workDetails">
        <!--a href="https://play.sanmanuel.com" title="" target="_blank"-->
          <a href="{{ workDetails[$index].linkLanding }}" title="">
            <img ng-src="{{ workDetails[$index].img2 }}" alt="">
            <div class="thumbTextWrap">
                <div class="thumbText">
                   <h3 class="sectionTitle" ng-bind-html="work.title"> </h3>
                   <p  ng-bind-html="work.carousel"> </p>                             
                </div>
            </div>
          </a>
      </section>
  </div>
</div>
    