/* line 2, truphone.scss */
img {
  max-width: 100%;
}

/* line 8, truphone.scss */
a.next.next {
  display: none;
  width: 100%;
  height: 50px;
  border-radius: 0;
}
/* line 14, truphone.scss */
a.next.want.remove {
  background-color: #595959;
}

/* line 19, truphone.scss */
input.want[type="submit"] {
  background-color: #8FB33E;
  border: none;
  display: inline-block;
  width: 60%;
  height: 36px;
  color: white;
  max-width: 90px;
}

/* line 30, truphone.scss */
input.continue[type="submit"] {
  width: 21%;
  color: #fff;
  margin: 0 auto 52px auto;
  border-radius: 7px;
  outline: none;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  font-weight: bold;
  padding-top: 7px;
  text-align: center;
  background-color: #8fb33e;
  border: none;
  padding: 10px;
}

/* line 48, truphone.scss */
.row.form.plans input[type="submit"].zero {
  background-color: #595959;
  width: auto;
}

/* line 52, truphone.scss */
.contact, .btn-group > {
  -webkit-box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  background-color: #9279cc;
}

/* line 58, truphone.scss */
.btn-group:last-child > .btn:first-child {
  background-color: #9279cc;
  border: none;
  shadow: none;
  box-shadow: none;
  moz-box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 69, truphone.scss */
header.banner .button {
  -webkit-box-shadow: 1px 1px 0px 1px #000;
  -moz-box-shadow: 1px 1px 0px 1px #000;
  box-shadow: 1px 1px 0px 1px #000;
}

/* line 75, truphone.scss */
a.end {
  background-color: #8FB33E;
  border: none;
  display: inline-block;
  width: 116.3%;
  color: white;
  clear: both;
  display: block;
  margin: 0 0 0 -28px;
  text-align: center;
  padding: 15px 0;
}
/* line 87, truphone.scss */
a:hover, a:active {
  text-decoration: none;
  color: #fff;
}

/* line 92, truphone.scss */
.next, input.next {
  display: none;
  font-weight: bold;
}

/* line 96, truphone.scss */
.next.show {
  width: 100%;
  font-weight: bold;
  padding-top: 7px;
  text-align: center;
  background-color: #8fb33e;
  border: none;
  padding: 10px;
  color: #fff;
}

/* line 106, truphone.scss */
.grey {
  color: #595959;
}

/* line 109, truphone.scss */
.container.grey {
  padding: 10px 0 0 28px;
}

/* line 112, truphone.scss */
h1.box {
  background-color: #289ebb;
  color: #fff;
  text-align: left;
  height: auto;
  width: 100%;
  padding: 43px 16px 13px 18px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: normal;
  margin: 0;
}
/* line 123, truphone.scss */
h1.box span {
  display: block;
}
/* line 126, truphone.scss */
h1.box img {
  margin: 10px auto;
  width: 79%;
  display: block;
}
/* line 130, truphone.scss */
h1.box img.hidden-md {
  max-width: 57%;
}

/* line 135, truphone.scss */
h2.plans {
  font-size: 1.1em;
  margin-left: 7%;
}

/* line 139, truphone.scss */
.bold {
  font-weight: bold;
}

/* line 142, truphone.scss */
header .row.form .row p, header .row.form .row span {
  text-align: center;
}

/* line 145, truphone.scss */
.contact {
  background-color: #9279cc;
  padding: 3px 13px;
  float: right;
  margin-top: 12px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 0px 1px rgba(34, 33, 32, 0.2);
  -moz-box-shadow: 1px 1px 0px 1px rgba(34, 33, 32, 0.2);
  box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
}

/* line 156, truphone.scss */
form select {
  height: 36px;
  background-color: #E5E5E5;
  text-align: center;
  width: 62px;
  margin-top: 2px;
}

/* line 163, truphone.scss */
h1 {
  font-size: 1.4em;
}

/* line 166, truphone.scss */
h2 {
  font-size: 1em;
}
/* line 168, truphone.scss */
h2.container.secondary {
  font-size: 2.000em;
  padding: 23px 7% 3px;
  margin: 0 0 10px;
}

/* line 174, truphone.scss */
.btn-more-info {
  background: white url("../../images/sme/more-info.png") no-repeat left center;
  padding: 5px 27px;
  outline: none;
  color: #772583;
  margin-top: 9px;
}
/* line 180, truphone.scss */
.btn-more-info.btn-less-info {
  background: white url("../../images/sme/btn-less.png") no-repeat left center;
}

/* line 184, truphone.scss */
.btn-more-info.fewer {
  background: #f4f4f4 url("../../images/sme/more-info.png") no-repeat left center;
  font-size: 22px;
  margin: 0;
  padding: 2px 0 0 30px;
  margin-top: 0px;
}
/* line 190, truphone.scss */
.btn-more-info.fewer.btn-less-info {
  background: #f4f4f4 url("../../images/sme/btn-less.png") no-repeat left center;
}

/* line 195, truphone.scss */
.collapse.in article.addons {
  height: 133px;
}

/* line 199, truphone.scss */
.right {
  float: right;
}

/* line 202, truphone.scss */
.row.form {
  margin: 0px;
  padding: 0;
}
/* line 206, truphone.scss */
.row.form.plans {
  margin: 20px 0;
}
/* line 208, truphone.scss */
.row.form.plans article.container {
  padding: 10px 24px;
}
/* line 213, truphone.scss */
.row.form span {
  margin: 0;
}
/* line 216, truphone.scss */
.row.form ul.collapse, .row.form ul.collapsing {
  margin-top: 58px;
  padding: 0;
  clear: both li;
  clear-margin-bottom: 13px;
}
/* line 224, truphone.scss */
.row.form ul.collapse a, .row.form ul.collapsing a {
  color: #772583;
}
/* line 228, truphone.scss */
.row.form .center {
  margin: 0 5% 0 0;
  padding: 0;
  width: 30%;
}
/* line 233, truphone.scss */
.row.form .center:last-child {
  margin: 0;
}
/* line 238, truphone.scss */
.row.form .row {
  margin: 6px 0;
  padding: 0;
}
/* line 243, truphone.scss */
.row.form .row .plan p {
  text-align: left;
  margin: 0;
}
/* line 247, truphone.scss */
.row.form .row .plan .col-sm-4.col-md-4 {
  text-align: right;
  margin-top: 7px;
}
/* line 251, truphone.scss */
.row.form .row .plan .small {
  width: 110%;
}
/* line 255, truphone.scss */
.row.form .row li {
  margin: 9px 0 0;
  padding: 0;
}
/* line 258, truphone.scss */
.row.form .row li p, .row.form .row li span {
  text-align: center;
  display: block;
  font-weight: normal;
}
/* line 264, truphone.scss */
.row.form .row p, .row.form .row span {
  text-align: left;
  display: block;
}
/* line 267, truphone.scss */
.row.form .row p.align, .row.form .row span.align {
  text-align: center;
}
/* line 271, truphone.scss */
.row.form .row p {
  font-weight: bold;
  margin-bottom: 0;
}
/* line 275, truphone.scss */
.row.form .row span {
  font-weight: normal;
}

/* line 280, truphone.scss */
.price {
  margin-top: 3%;
}

/* line 283, truphone.scss */
a {
  color: #ccc;
}

/* line 284, truphone.scss */
ul {
  list-style-type: none;
}

/* line 288, truphone.scss */
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 301, truphone.scss */
article form input[id^=checkbox-1-] + label.blue {
  background-color: #289ebb;
  background: #289ebb;
}

/* line 306, truphone.scss */
article.footer-banner {
  height: 88px;
  width: 100%;
  background-color: #289ebb;
  text-align: center;
  padding: 0.8%;
}
/* line 314, truphone.scss */
article.footer-banner .container {
  padding: 0 0 0 13px;
}
/* line 317, truphone.scss */
article.footer-banner a {
  float: right;
  width: 39%;
  background-color: white;
  color: #289ebb;
  height: 35px;
  font-size: 1.1em;
  text-align: left;
  padding-top: 7px;
  margin: 9px 1.1% 0 0;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  box-shadow: 2px 2px 0px 1px rgba(34, 33, 32, 0.2);
  background: white url("../../images/sme/button-arrow-blue.gif") no-repeat;
  background-position: 94% 49%;
  padding-left: 15px;
}
/* line 335, truphone.scss */
article.footer-banner h3 {
  width: 57%;
  color: #fff;
  font-size: 1.4em;
  float: left;
  text-align: left;
  font-weight: normal;
}

/* line 348, truphone.scss */
.container {
  padding: 10px 0px 0;
  position: relative;
  display: block;
}
/* line 352, truphone.scss */
.container.data {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0;
}
/* line 356, truphone.scss */
.container.data .row.form {
  width: 100%;
}
/* line 358, truphone.scss */
.container.data .row.form .center {
  margin: 6% 1% 0 2%;
}
/* line 361, truphone.scss */
.container.data .row.form .row {
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
}
/* line 368, truphone.scss */
.container.data .col-md-4.col-sm-4 {
  text-align: right;
  padding-right: 2%;
  font-size: .9em;
}
/* line 373, truphone.scss */
.container.data .row.form .row p, .container.data .row.form .row span {
  display: inline-block;
}
/* line 375, truphone.scss */
.container.data .row.form .row p.justify, .container.data .row.form .row span.justify {
  width: 80%;
  margin: 0 auto;
  display: block;
}
/* line 381, truphone.scss */
.container.data label div {
  font-weight: normal;
}
/* line 384, truphone.scss */
.container.data form select {
  height: 26px;
  background-color: #E5E5E5;
  text-align: center;
  margin: 5px 2px 0 0;
  font-size: 0.8em;
}
/* line 391, truphone.scss */
.container.data .col-md-12.col-sm-12 {
  clear: both;
  margin-top: 10px;
  padding: 0 13px;
  border-top: 1px solid #ccc;
}
/* line 399, truphone.scss */
.container .data header {
  padding: 8px 0 0px 12px;
}

/* line 404, truphone.scss */
article.container {
  margin: 0px auto 6%;
  background-color: white;
  width: 86%;
  border: 1px solid #cecece;
  box-shadow: 0px 1px 3px #ccc;
  padding-top: 0;
}
/* line 412, truphone.scss */
article.container.details, article.container.confirmation {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 416, truphone.scss */
article.container.details ol, article.container.confirmation ol {
  padding: 0;
}
/* line 418, truphone.scss */
article.container.details ol input, article.container.confirmation ol input {
  border: none;
}
/* line 422, truphone.scss */
article.container.details h1, article.container.details h2, article.container.details h3, article.container.confirmation h1, article.container.confirmation h2, article.container.confirmation h3 {
  color: #000;
}
/* line 425, truphone.scss */
article.container.details ol li, article.container.confirmation ol li {
  list-style-type: none;
}
/* line 428, truphone.scss */
article.container.details .next, article.container.confirmation .next {
  display: block;
}
/* line 431, truphone.scss */
article.container.details h2, article.container.confirmation h2 {
  margin-left: 6%;
  font-size: 1.3em;
}
/* line 436, truphone.scss */
article.container.confirmation {
  padding: 4% 7% 0;
  margin: 0;
}
/* line 439, truphone.scss */
article.container.confirmation .social.col-md-6 {
  margin: 0 0 0 -7px;
  padding: 0;
}
/* line 443, truphone.scss */
article.container.confirmation p {
  line-height: 50px;
}
/* line 447, truphone.scss */
article.container.data {
  margin: 8% auto 0;
}

/* line 451, truphone.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 460, truphone.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 463, truphone.scss */
* html .clearfix {
  height: 1%;
}

/* line 465, truphone.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
